{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <br><br>
                <h3 style="text-align: center">Search result</h3>
                <br><br>
                <div class="row">
                    {% for anime in all_anime %}
                        <div class="col-md-6 col-12">
                            <div class="card col-12">
                                <img src="{{ anime.picture }}" class="card-img-top" style="height: 360px; object-fit: cover"
                                     alt="anime pic">
                                <div class="card-body">
                                    <h5 title="{{ anime.title }}"
                                        class="card-title custom_card_title">{{ anime.title }}</h5>
                                    <p class="card-text"> Tags: </p>
                                    <ul class="limited_list">
                                        {% for tag in anime.tags.all %}
                                            {% if forloop.counter0 < 4 %}
                                                <li>{{ tag }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                    <p>
                                        {% if anime.tags.count > 4 %}
                                            {{ anime.tags.count|add:-4 }}
                                        {% else %}
                                            No
                                        {% endif %}
                                        tags remaining
                                    </p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{ anime.status }}</li>
                                    <li class="list-group-item">{{ anime.year }} {{ anime.season }}</li>
                                    <li class="list-group-item">A third item</li>
                                </ul>
                                <div class="card-body">
                                    <a href="#" class="card-link">Card link</a>
                                    <a href="#" class="card-link">Another link</a>
                                </div>
                            </div>
                            <br>
                        </div>
                    {% endfor %}
                </div>
                </div>
            <div class="col-md-6">
                <br><br>
                <h3 style="text-align: center"> Advanced Filters </h3>
                <br><br>
                <form method="get" class="col-12">
                    {{ filters }}
                    <button type="submit">Search</button>
                </form>
                <br><br>
            </div>
        </div>
    </div>
{% endblock %}