{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <br><br>
                <h3 style="text-align: center">Search result</h3>
                <br><br>
                <div class="row">
                    {% for anime in all_anime %}
                        {% include 'partials/anime_card.html' %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6">
                <br><br>
                <h3 style="text-align: center"> Advanced Filters </h3>
                <br><br>
                <form method="get" class="col-12">
                    {{ filters }}
                    <button type="submit">Search</button>
                </form>
                <br><br>
            </div>
        </div>
    </div>
{% endblock %}