{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-12">
                <br><br>
                <h3 style="text-align: center">{{ user.first_name }}'s List</h3>
                <br><br>
                <div class="row">
{#                        <div class="col-md-6 col-12">#}
{#                            <div class="card col-12">#}
{#                                <img src="{{ anime.anime.picture }}" class="card-img-top" style="height: 360px; object-fit: cover"#}
{#                                     alt="anime pic">#}
{#                                <div class="card-body">#}
{#                                    <h5 title="{{ anime.anime.title }}"#}
{#                                        class="card-title custom_card_title">{{ anime.anime.title }}</h5>#}
{#                                    <p class="card-text"> Tags: </p>#}
{#                                    <ul class="limited_list">#}
{#                                        {% for tag in anime.anime.tags.all %}#}
{#                                            {% if forloop.counter0 < 4 %}#}
{#                                                <li>{{ tag }}</li>#}
{#                                            {% endif %}#}
{#                                        {% endfor %}#}
{#                                    </ul>#}
{#                                    <p>#}
{#                                        {% if anime.tags.count > 4 %}#}
{#                                            {{ anime.tags.count|add:-4 }}#}
{#                                        {% else %}#}
{#                                            No#}
{#                                        {% endif %}#}
{#                                        tags remaining#}
{#                                    </p>#}
{#                                </div>#}
{#                                <ul class="list-group list-group-flush">#}
{#                                    <li class="list-group-item">{{ anime.anime.status }}</li>#}
{#                                    <li class="list-group-item">{{ anime.anime.year }} {{ anime.anime.season }}</li>#}
{#                                    <li class="list-group-item">Your score: {{ anime.get_score_display }}</li>#}
{#                                </ul>#}
{#                                <div class="card-body">#}
{#                                    <a href="{% url 'details-anime' anime.anime_id %}" class="card-link">Change anime</a>#}
{#                                    <a href="#" class="card-link">Another link</a>#}
{#                                </div>#}
{#                            </div>#}
{#                            <br>#}
{#                        </div>#}
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Image</th>
                            <th scope="col">Anime title</th>
                            <th scope="col">Score</th>
                            <th scope="col">Type</th>
                            <th scope="col">Progress</th>
                            <th scope="col">Status</th>
                            <th scope="col">View tags</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        {% for anime in anime_user %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td><img src="{{ anime.anime.thumbnail }}" alt="anime pic" width=57></td>
                                <td class="anime_list_row" title="{{ anime.anime.title }}">{{ anime.anime.title }}</td>
                                <td>{{ anime.get_score_display }}</td>
                                <td>{{ anime.anime.type }}</td>
                                <td>{{ anime.eps_seen }}</td>
                                <td>{{ anime.watch_status }}</td>
                                <td class="tags-cell">
                                    {% for tag in anime.anime.tags.all %}
                                        <span class="tag"><a href="http://localhost:8000/seach_anime/?anime_title=&anime_status=&anime_type=&anime_year=&anime_season=&anime_tags={{ tag }}">{{ tag }}</a>,</span>
                                    {% endfor %}
                                    <button class="show-all-btn">Show All</button>
                                    <br>
                                    <button class="hide-btn" style="display: none;">Hide</button>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}