{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br><br>
                <h3 style="text-align: center">Something you might like</h3>
                <br><br>
                <div class="row">
                    {% for anime in random_anime %}
                        {% include 'partials/anime_card.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}