{% extends 'base.html' %}
{% load static %}
{% block title %} Stats {% endblock %}
{% block content %}
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['bar']});
        google.charts.setOnLoadCallback(drawStuff);

        function drawStuff() {
            var data = new google.visualization.arrayToDataTable([
                ['Grade', 'Rated anime'],
                ["1", {{ scores.1 }}],
                ["2", {{ scores.2 }}],
                ["3", {{scores.3}}],
                ["4", {{scores.4}}],
                ["5", {{scores.5}}],
                ["6", {{scores.6}}],
                ["7", {{scores.7}}],
                ["8", {{scores.8}}],
                ["9", {{scores.9}}],
                ["10", {{scores.10}}],

            ]);

            var options = {
                title: 'Grades',
                width: 900,
                height: 500,
                legend: {position: 'none'},
                chart: {
                    title: 'Grades',
                    subtitle: "See what grades you've used"
                },
                bars: 'horizontal', // Required for Material Bar Charts.
                axes: {
                    x: {
                        0: {side: 'top', label: 'Rated Anime'} // Top x-axis.
                    }
                },
                bar: {groupWidth: "90%"}
            };

            var chart = new google.charts.Bar(document.getElementById('top_x_div'));
            chart.draw(data, options);
        };
    </script>

    <!--Div that will hold the pie chart-->
    <div id="top_x_div"></div>
{#    <p>1: {{ scores.1 }}</p>#}
{#    <p>2: {{ scores.2 }}</p>#}
{#    <p>3: {{ scores.3 }}</p>#}
{#    <p>1: {{ scores.1 }}</p>#}
{#    <p>1: {{ scores.1 }}</p>#}
{#    <p>1: {{ scores.1 }}</p>#}
{#    {{ scores.2 }}#}
{#    {{ scores.3 }}#}
{% endblock %}