{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3 gy-5">
                <br><br>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Edit {{ useranime.anime }}</h5>
                        <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form }}
                        <br>
                        <button type="submit" class="btn btn-outline-success">Save</button>
                        </form>
{#                        {% if messages %}#}
{#                            <ul class="messages">#}
{#                            {% for message in messages %}#}
{#                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
{#                            {% endfor %}#}
{#                            </ul>#}
{#                        {% endif %}#}
                        {% if request.GET.success %}
                            <div class="alert alert-success" role="alert">
                                Your update was successful!
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}